In [1]:
import random as rd
import numpy as np

In [37]:
# When Entering Names into the String, Make sure to delete all the commas by going into google docs by using find and replace. Replace all the commas with nothing
# If there are names where there are two first names, please choose one or the other
Names = """Banerjee Rajdeep
        Cohen Max
        Eppling Kim
        Hao Alicia
        Hatton Colin
        Huang Felix
        Kalarickal Matthew
        Kapoor Rohan
        Krishnakumar Kirtana
        Li Alexander
        Liao Rory
        Narra Kamal
        Sahoo Poonam
        Shishkov Stephan
        Simpson Owen
        Sood Raunak
        Tan Allan
        Wang Charles
        Wang Charlotte
        Ying Alexander
        Zilberberg Simona"""
Names = Names.split()

In [38]:
count = 0
FirstName = []
LastName = []
for item in Names:
    if count % 2 == 0:
        LastName.append(item)
        count = count + 1
    else:
        FirstName.append(item)
        count = count + 1
FirstName, LastName

(['Rajdeep',
  'Max',
  'Kim',
  'Alicia',
  'Colin',
  'Felix',
  'Matthew',
  'Rohan',
  'Kirtana',
  'Alexander',
  'Rory',
  'Kamal',
  'Poonam',
  'Stephan',
  'Owen',
  'Raunak',
  'Allan',
  'Charles',
  'Charlotte',
  'Alexander',
  'Simona'],
 ['Banerjee',
  'Cohen',
  'Eppling',
  'Hao',
  'Hatton',
  'Huang',
  'Kalarickal',
  'Kapoor',
  'Krishnakumar',
  'Li',
  'Liao',
  'Narra',
  'Sahoo',
  'Shishkov',
  'Simpson',
  'Sood',
  'Tan',
  'Wang',
  'Wang',
  'Ying',
  'Zilberberg'])

In [39]:
data = {
}
len(FirstName)

21

In [40]:
count = 0
studentNumber = 1
while count < len(FirstName):
    data[studentNumber] = FirstName[count] + " " + LastName[count]
    count = count + 1
    studentNumber = studentNumber + 1
data

{1: 'Rajdeep Banerjee',
 2: 'Max Cohen',
 3: 'Kim Eppling',
 4: 'Alicia Hao',
 5: 'Colin Hatton',
 6: 'Felix Huang',
 7: 'Matthew Kalarickal',
 8: 'Rohan Kapoor',
 9: 'Kirtana Krishnakumar',
 10: 'Alexander Li',
 11: 'Rory Liao',
 12: 'Kamal Narra',
 13: 'Poonam Sahoo',
 14: 'Stephan Shishkov',
 15: 'Owen Simpson',
 16: 'Raunak Sood',
 17: 'Allan Tan',
 18: 'Charles Wang',
 19: 'Charlotte Wang',
 20: 'Alexander Ying',
 21: 'Simona Zilberberg'}