In [1]:
import random as rd
import numpy as np

In [2]:
# When Entering Names into the String, Make sure to delete all the commas by going into google docs by using find and replace. Replace all the commas with nothing
# If there are names where there are two first names, please choose one or the other
Names = """Banerjee Rajdeep
        Cohen Max
        Eppling Kim
        Hao Alicia
        Hatton Colin
        Huang Felix
        Kalarickal Matthew
        Kapoor Rohan
        Krishnakumar Kirtana
        Li Alexander
        Liao Rory
        Narra Kamal
        Sahoo Poonam
        Shishkov Stephan
        Simpson Owen
        Sood Raunak
        Tan Allan
        Wang Charles
        Wang Charlotte
        Ying Alexander
        Zilberberg Simona"""
Names = Names.split()
# Enter Group Size here
groupSize = 2

In [3]:
count = 0
FirstName = []
LastName = []
for item in Names:
    if count % 2 == 0:
        LastName.append(item)
        count = count + 1
    else:
        FirstName.append(item)
        count = count + 1
FirstName, LastName

(['Rajdeep',
  'Max',
  'Kim',
  'Alicia',
  'Colin',
  'Felix',
  'Matthew',
  'Rohan',
  'Kirtana',
  'Alexander',
  'Rory',
  'Kamal',
  'Poonam',
  'Stephan',
  'Owen',
  'Raunak',
  'Allan',
  'Charles',
  'Charlotte',
  'Alexander',
  'Simona'],
 ['Banerjee',
  'Cohen',
  'Eppling',
  'Hao',
  'Hatton',
  'Huang',
  'Kalarickal',
  'Kapoor',
  'Krishnakumar',
  'Li',
  'Liao',
  'Narra',
  'Sahoo',
  'Shishkov',
  'Simpson',
  'Sood',
  'Tan',
  'Wang',
  'Wang',
  'Ying',
  'Zilberberg'])

In [4]:
data = {
}
len(FirstName)

21

In [5]:
count = 0
studentNumber = 1
while count < len(FirstName):
    data[str(studentNumber)] = FirstName[count] + " " + LastName[count]
    count = count + 1
    studentNumber = studentNumber + 1
data

{'1': 'Rajdeep Banerjee',
 '2': 'Max Cohen',
 '3': 'Kim Eppling',
 '4': 'Alicia Hao',
 '5': 'Colin Hatton',
 '6': 'Felix Huang',
 '7': 'Matthew Kalarickal',
 '8': 'Rohan Kapoor',
 '9': 'Kirtana Krishnakumar',
 '10': 'Alexander Li',
 '11': 'Rory Liao',
 '12': 'Kamal Narra',
 '13': 'Poonam Sahoo',
 '14': 'Stephan Shishkov',
 '15': 'Owen Simpson',
 '16': 'Raunak Sood',
 '17': 'Allan Tan',
 '18': 'Charles Wang',
 '19': 'Charlotte Wang',
 '20': 'Alexander Ying',
 '21': 'Simona Zilberberg'}

In [6]:
numbers = []
studentNumber = 1
for item in FirstName:
    numbers.append(studentNumber)
    studentNumber = studentNumber + 1
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [7]:
groups = ''
count = 1
numbers1 = numbers
initiallength = len(numbers)
while count <= initiallength:
    z = rd.choice(numbers1)
    numbers1.remove(z)
    groups = groups + str(z) + " "
    count = count + 1
groups

'21 6 19 4 3 15 5 20 18 12 10 17 8 11 14 1 13 2 16 9 7 '

In [8]:
newgroups = groups.split()
newgroups

['21',
 '6',
 '19',
 '4',
 '3',
 '15',
 '5',
 '20',
 '18',
 '12',
 '10',
 '17',
 '8',
 '11',
 '14',
 '1',
 '13',
 '2',
 '16',
 '9',
 '7']

In [10]:
actualgroups = {
    
}
var = int(initiallength / groupSize)
count = 1
while count <= var:
    actualgroups[count] = ''
    count = count + 1
count = 0
groupNumber = 1
Number1 = 1
temp = ''
#Work On if it is not a perfect factor
'''for item in newgroups:
    if count % 3 == 0:
        groupNumber = groupNumber + 1
        actualgroups[groupNumber] = data[newgroups[count]] + ", "
        count = count + 1
    else:
        actualgroups[groupNumber] = actualgroups[groupNumber] + data[newgroups[count]] + ", "
        count = count + 1'''
#Only works for perfect factor
for item in newgroups:
    actualgroups[groupNumber] = actualgroups[groupNumber] + data[newgroups[count]] + ", "
    groupNumber = groupNumber + 1
    count = count + 1
    if count % var == 0:
        groupNumber = 1
actualgroups

{1: 'Simona Zilberberg, Alexander Li, Matthew Kalarickal, ',
 2: 'Felix Huang, Allan Tan, ',
 3: 'Charlotte Wang, Rohan Kapoor, ',
 4: 'Alicia Hao, Rory Liao, ',
 5: 'Kim Eppling, Stephan Shishkov, ',
 6: 'Owen Simpson, Rajdeep Banerjee, ',
 7: 'Colin Hatton, Poonam Sahoo, ',
 8: 'Alexander Ying, Max Cohen, ',
 9: 'Charles Wang, Raunak Sood, ',
 10: 'Kamal Narra, Kirtana Krishnakumar, '}